body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index{
    background-image: url(../multimedia/javascript.jpg);
}
.restaurante{
    background-image: url(../multimedia/restaurant.jfif);
}
.juego{
    background-image: url(../multimedia/mapa.jpg);
}
.menu{
    background-color: rgba(255, 255, 255, 0.653);
}
.arrays{
    background-color: rgb(198, 198, 119);
}