.botones{
    margin: 1%;
    display: flex;
    justify-content: center;
}
button{
    padding: 1% 0,5;
    background-color: rgba(254, 254, 81, 0.902);
    border: 1px solid gray;
    border-radius: 10%; 
    font-size: 20px;
    margin: 2px;
    
}